In [1]:
import numpy as np
import pandas as pd
from salishsea_tools import geo_tools
import netCDF4 as nc

In [2]:
init_file = pd.read_csv('/ocean/ssahu/CANYONS/ariane/ariane-2.2.8_04/initial_positions_LB08.txt', delimiter= ' ', header=None)

In [3]:
init_file

         0      1   2    3    4
0   120.01  85.01   2  0.5  1.0
1   120.01  85.01   6  0.5  1.0
2   120.01  85.01   8  0.5  1.0
3   120.01  85.01  10  0.5  1.0
4   120.01  85.01  12  0.5  1.0
5   120.01  85.01  14  0.5  1.0
6   120.01  85.01  17  0.5  1.0
7   120.01  85.01  19  0.5  1.0
8   120.01  85.01  20  0.5  1.0
9   120.01  85.01  21  0.5  1.0
10  120.01  85.01  22  0.5  1.0
11  120.01  85.01  23  0.5  1.0
12  120.01  85.01  24  0.5  1.0

In [4]:
grid_T_small = nc.Dataset('/data/ssahu/NEP36_2013_summer_hindcast/cut_NEP36-S29_1d_20130429_20131025_grid_T_20130429-20130508.nc')

lon_small = grid_T_small.variables['nav_lon'][:]
lat_small = grid_T_small.variables['nav_lat'][:]

In [5]:
lon_LB08 = -125.4775
lat_LB08 = 48.4217

j, i = geo_tools.find_closest_model_point(lon_LB08,lat_LB08,\
                                          lon_small,lat_small,grid='NEMO',tols=\
                                          {'NEMO': {'tol_lon': 0.1, 'tol_lat': 0.1},\
                                           'GEM2.5': {'tol_lon': 0.1, 'tol_lat': 0.1}}) 

print(j,i)

85 120

In [6]:
df =pd.DataFrame(data=init_file)

# df = init_file

# df[:,0] = i+0.01

In [7]:
df

         0      1   2    3    4
0   120.01  85.01   2  0.5  1.0
1   120.01  85.01   6  0.5  1.0
2   120.01  85.01   8  0.5  1.0
3   120.01  85.01  10  0.5  1.0
4   120.01  85.01  12  0.5  1.0
5   120.01  85.01  14  0.5  1.0
6   120.01  85.01  17  0.5  1.0
7   120.01  85.01  19  0.5  1.0
8   120.01  85.01  20  0.5  1.0
9   120.01  85.01  21  0.5  1.0
10  120.01  85.01  22  0.5  1.0
11  120.01  85.01  23  0.5  1.0
12  120.01  85.01  24  0.5  1.0

In [8]:
df = df.iloc[df.shape[0]:]

In [9]:
df

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

In [10]:
mesh_mask_large  = nc.Dataset('/data/mdunphy/NEP036-N30-OUT/INV/mesh_mask.nc')

tmask   = mesh_mask_large.variables['tmask'][:,:32,179:350,479:650]

In [162]:
np.max(np.nonzero(tmask[0,:,j,i]))

23

In [28]:
df =pd.DataFrame(data=init_file)
df = df.iloc[df.shape[0]:]

for p in np.arange(8):
    for q in np.arange(8):
        for k in np.arange(1,np.max(np.nonzero(tmask[0,:,j+q,i+p]))+1):
            df = df.append({0:i+p+0.01,1:j+q+0.01,2:format(k,'d'), 3:0.5, 4:1.0}, ignore_index=True)

In [27]:
format(2, 'd')

'2'

In [31]:
np.savetxt(r'/data/ssahu/ARIANE/initial_positions_around_LB08.txt', df.values, 'str')

ValueError: fmt has wrong number of % formats:  str

In [34]:
df.to_csv('/data/ssahu/ARIANE/initial_positions_around_LB08.txt',sep = ' ', header = None, index=False)